<mat-card class="createForm">
    <mat-card-header>
        <h2>Create employee</h2>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content >
        <form  (ngSubmit) = "onSubmit()" >

            <div class="form-group center">
                <mat-form-field appearance="outline" class="center">
                    <mat-label>First Name</mat-label>
                    <!-- [formControl]="emailFormControl" in input -->
                    <input matInput type="text"
                    [(ngModel)] = "employee.firstName"
                    name = "firstName"
                    placeholder="Joe" required>
                </mat-form-field>
            </div>
            <div class="form-group center">
                <mat-form-field appearance="outline">
                    <mat-label>Surname</mat-label>
                    <!-- TODO add last name control
                    [formControl]="lastNameControl"  -->
                    <input matInput type="text"
                    [(ngModel)] = "employee.lastName"
                    name = "lastName"
                    placeholder = "Doe" required>
                </mat-form-field>
            </div>
            <div class="form-group center">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <!--[formControl]="emailFormControl" -->
                    <input matInput type="email"
                    [(ngModel)] = "employee.email"
                    name = "email"
                    placeholder = "joe.doe@example.com" required>
                </mat-form-field>
            </div>
            <div class="button-container">
                <button mat-raised-button color="primary" type="submit" id="submitBtn">Submit</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>
